html {
    display: table;
    margin: auto;
}

html, body {
	font-family: 'Share Tech Mono', sans-serif;
    height: 100%;
}

body {
	background-color: black;
	text-align: center;
    display: table-cell;
    vertical-align: middle;	
	background-image: url("../images/wp.png");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	color: darkorange;
}


.cover {
	z-index: -99999;
	position: absolute;
    top: 0;
    left: 0;
	height: 100vh;
	width: 100vw;
}

.no-bg {
	background-image: none !important;
}

.glow {
	-webkit-transform-style: preserve-3d;
	-webkit-animation: glow 0.75s ease-in-out;
	-webkit-animation-iteration-count: infinite; 
	-webkit-animation-direction: alternate;
}

@-webkit-keyframes glow {
    0% {-webkit-filter: brightness(100%);}
    100% {-webkit-filter: brightness(200%);}
}


.background {
	z-index: -99999999999;
	position: absolute;
    top: 0;
    left: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.background video {
	min-width: 100%; 
	min-height: 100%; 
}

@-webkit-keyframes phaseIn {
    0% {-webkit-filter: brightness(0%); opacity: 0%; color: rgba(0,0,0,0);}
    70% {-webkit-filter: brightness(0%); opacity: 0%; color: rgba(0,0,0,0);}
    100% {-webkit-filter: brightness(100%) opacity: 100%; color: darkorange}
}

a {
	color: orange;
}

a:visited {
	color: red;
}

.page {
	width: 100%;
	height: 100%;
	text-align: center;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align: center;
	align-items: center;
    vertical-align: middle;
}

.container {
	width: 30em;
	padding: 0.5em;
	background-color: rgb(0,0,0,.87);
	-webkit-animation: transparentBG 1.5s ease-in;
	border-radius: 0.3em;
	align: center;
	vertical-align: middle;
	flex: 0 0 none;
	display: flex;
	flex-direction: column;
	font-size: 1.2em;	
}

@-webkit-keyframes transparentBG {
    0% {opacity: 0;}
    70% {opacity: 0}
    100% {opacity: 1}
}

img.center {
    display: block;
    margin: 0 auto;
}


.flex_base > div {
	display: flex;
	flex-wrap: no-wrap;
	justify-content: space-between;
	margin: 0.15em;
	background-color: rgb(255,165,0,.02);

}

.flex_base > div > div {
	flex-direction: row;
	flex: 0 0 auto;
}

.footer {
    color: #000;
	text-shadow: 1px 0px #000, -1px 0px #000, 0px 1px #000, 0px -1px #000;
	color: darkorange;
	font-size: 1em;
	flex: 0 0 none;
    align-self: flex-end;
	-webkit-animation: transparentBG 1.5s ease-in;
}