html, body {
	font-family: 'Share Tech Mono', sans-serif;
    height: 100%;
}
body {
	text-align: center;
    display: table-cell;
    vertical-align: middle;
	color: darkorange;
	background-image: url("../images/wp.png");
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size:100%;
    background-position: center; 
	-webkit-animation: phaseIn 2s ease-in;
}

.cover {
	z-index: -99999;
	position: absolute;
    top: 0;
    left: 0;
	height: 100vh;
	width: 100vw;
}

.no-bg {
	background-image: none !important;
}

.background {
	z-index: -99999999999;
	position: absolute;
    top: 0;
    left: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.background video {
	min-width: 100%; 
	min-height: 100%; 
}

@-webkit-keyframes phaseIn {
    0% {-webkit-filter: brightness(0%); opacity: 0%;}
    70% {-webkit-filter: brightness(0%); opacity: 0%;}
    100% {-webkit-filter: brightness(100%) opacity: 100%; }
}

a {
	color: orange;
}

a:visited {
	color: red;
}

.event {
	font-size: 25px;
}

html {
    display: table;
    margin: auto;
}


h1 {
	margin: 0px;
	font-size: 40px;
}

.container {
	background-color: rgba(0,0,0,.87);

	-webkit-animation: transparentBG 2s ease-in;
	border-radius: 20px;
	align: center;
}

@-webkit-keyframes transparentBG {
    0% {background-color: rgba(0,0,0,0);}
    70% {background-color: rgba(0,0,0,0);}
    100% {background-color: rgba(0,0,0,.87);}
}


img.center {
    display: block;
    margin: 0 auto;
}

table {
	width: 700px;
	font-size: 25px;
}

.item {
	width: 100%;
}

td {
	text-align: right;
	padding-top: 5px;
}

.footer {
	text-align: right;
	color: darkorange;
	padding-right: 5px;
	font-size: 10px;
	text-shadow: none;
}