.outer_header {
	perspective: 600px;
    display: table; 
	width: 700px;
	height: 200px;
	-webkit-animation: glow 1s ease-in-out;
	-webkit-animation-iteration-count: infinite; 
	-webkit-animation-direction: alternate;
}

.header {
	background-image: url("../images/watchface.png");
	background-position: center; 
	background-repeat: no-repeat;
	background-size: 200px 200px;
	width: 100%;
	height: 100%;
	text-align:center; 
    vertical-align: middle;
	display: table; 
}

.inner_header {
	width: 100%;
	height: 100%;
	text-align:center; 
    vertical-align: middle;
	display: table; 
}

.watch {
	text-shadow: 0px 0px 20px #FFA500, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
	text-align:center; 
    vertical-align: middle;
    display: table-cell;  
	font-size: 30px;
    opacity: 1
	color: lightorange;
	width: 100%;
	height: 100%;
}

@-webkit-keyframes glow {
    0% {-webkit-filter: brightness(120%);}
    100% {-webkit-filter: brightness(180%);}
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}