html, body {
	font-family: 'Share Tech Mono', sans-serif;
    height: 100%;
}
body {
    display: table-cell;
    vertical-align: middle;
	color: darkorange;
	background-color: black;
	-webkit-animation: phaseIn 1.3s ease-in;	
}

@-webkit-keyframes phaseIn {
    0% {-webkit-filter: brightness(0%);}
    70% {-webkit-filter: brightness(0%);}
    100% {-webkit-filter: brightness(100%);}
}


html {
    display: table;
    margin: auto;
}


h1 {
	margin: 0px;
	font-size: 40px;
}

.container {
	align: center;
}


img.center {
    display: block;
    margin: 0 auto;
}

table {
	width: 600px;
	font-size: 25px;
}

.item {
	width: 50%;
}

td {
	text-align: right;
	padding-top: 5px;
}

.footer {
	text-align: right;
	color: darkorange;
	padding-right: 5px;
	font-size: 10px;
}