html, body {
	font-family: 'Share Tech Mono', sans-serif;
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

.outer_header {
    display: table; 
	width: 600px;
	height: 200px;
	-webkit-animation: glow 4s ease-in-out, rotateY 8s ease-in-out;
    -webkit-animation-iteration-count: infinite; 
}

.header {
	background-image: url("watchface.png");
	background-position: center; 
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	text-align:center; 
    vertical-align: middle;
	display: table; 
	-webkit-animation: rotateX 6s ease-in-out;
    -webkit-animation-iteration-count: infinite; 
}

.inner_header {
	width: 100%;
	height: 100%;
	text-align:center; 
    vertical-align: middle;
	display: table; 
	-webkit-animation: shiftY 6s ease-in-out;
    -webkit-animation-iteration-count: infinite; 
}

.watch {
	text-shadow: 0 0 1px white;
	text-align:center; 
    vertical-align: middle;
    display: table-cell;  
	font-size: 30px;
    opacity: 0.4
	color: lightorange;
	-webkit-animation: shiftX 8s ease-in-out;
    -webkit-animation-iteration-count: infinite; 
}


h1 {
	margin: 0px;
	font-size: 40px;
}

.container {
	align: center;
}

@-webkit-keyframes glow {
    0% {-webkit-filter: brightness(120%);}
    50% {-webkit-filter: brightness(180%);}
    100% {-webkit-filter:  brightness(120%);}
}

@-webkit-keyframes rotateY {
    0% {-webkit-transform: rotateY(0deg);}
    25% {-webkit-transform: rotateY(15deg);}
    50% {-webkit-transform: rotateY(0deg);}
	75% {-webkit-transform: rotateY(-15deg);}
    100% {-webkit-transform:  rotateY(0deg);}
}

@-webkit-keyframes shiftX {
    0% {-webkit-transform: translateX(0px);}
    25% {-webkit-transform: translateX(15px);}
    50% {-webkit-transform: translateX(0px);}
    75% {-webkit-transform: translateX(-15px);}
    100% {-webkit-transform: translateX(0px);}
}

@-webkit-keyframes rotateX {
    0% {-webkit-transform: rotateX(0deg);}
    25% {-webkit-transform: rotateX(15deg);}
    50% {-webkit-transform: rotateX(0deg);}
	75% {-webkit-transform: rotateX(-15deg);}
    100% {-webkit-transform:  rotateX(0deg);}
}

@-webkit-keyframes shiftY {
    0% {-webkit-transform: translateY(0px);}
    25% {-webkit-transform: translateY(15px);}
    50% {-webkit-transform: translateY(0px);}
    75% {-webkit-transform: translateY(-15px);}
    100% {-webkit-transform: translateY(0px);}
}


body {
    display: table-cell;
    vertical-align: middle;
	color: darkorange;
	background-color: black;
}

img.center {
    display: block;
    margin: 0 auto;
}

table {
	width: 600px;
	font-size: 25px;
}

.item {
	width: 50%;
}

td {
	text-align: right;
	padding-top: 5px;
}

.footer {
	text-align: right;
	color: darkorange;
	padding-right: 5px;
	font-size: 10px;
}