html, body {
	font-family: 'Share Tech Mono', sans-serif;
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

.header {
	background-image: url("watchface.png");
	background-position: center; 
	background-repeat: no-repeat;
    display: table; 
	width: 600px;
	height: 200px;
	-webkit-animation: blink 4s ease-out;
    -webkit-animation-iteration-count: infinite; 
}

h1 {
	margin: 0px;
	font-size: 40px;
}

.container {
	align: center;
}

@-webkit-keyframes blink {
    0% {-webkit-filter: brightness(100%);}
    50% {-webkit-filter: brightness(150%);}
    100% {-webkit-filter:  brightness(100%);}
}

.watch {
	text-align:center; 
    vertical-align: middle;
    display: table-cell;  
	font-size: 30px;
    opacity: 0.4
	color: orange;
}

body {
    display: table-cell;
    vertical-align: middle;
	color: darkorange;
	background-color: black;
}

img.center {
    display: block;
    margin: 0 auto;
}

table {
	width: 600px;
	font-size: 25px;
}

.item {
	width: 30%;
}

td {
	text-align: right;
	padding-top: 5px;
}

.footer {
	text-align: right;
	color: darkorange;
	padding-right: 5px;
	font-size: 10px;
}