.outer_header {
	perspective: 600px;
    display: table; 
	width: 700px;
	height: 200px;
	-webkit-animation: glow 1s ease-in-out;
	-webkit-animation-iteration-count: infinite; 
	-webkit-animation-direction: alternate;
}

.header {
	background-image: url("watchface.png");
	background-position: center; 
	background-repeat: no-repeat;
	background-size: 200px 200px;
	width: 100%;
	height: 100%;
	text-align:center; 
    vertical-align: middle;
	display: table; 
}

.inner_header {
	width: 100%;
	height: 100%;
	text-align:center; 
    vertical-align: middle;
	display: table; 
}

.watch {
	text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black;
	text-align:center; 
    vertical-align: middle;
    display: table-cell;  
	font-size: 30px;
    opacity: 1
	color: lightorange;
}

@-webkit-keyframes glow {
    0% {-webkit-filter: brightness(120%);}
    100% {-webkit-filter: brightness(180%);}
}